<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <title>Discovery - Animal Helping Hands</title>
    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../image/icon.png"/>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <script src="../js/animalHabitat.js"></script>
    <link href="../css/homePage.css" rel="stylesheet"/>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <link href="../css/select2.min.css" rel="stylesheet"/>
    <script src="../js/select2.full.min.js"></script>
    <link href="../css/select2-bootstrap-5-theme.min.css" rel="stylesheet"/>
</head>
<body>


<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">Land Animal Helping Hands</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/index">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">Rescue</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/findAnimalDistribution">
                    Discovery</a></li>
                <li class="nav-item"><a class="nav-link " aria-current="page" href="/findAnimal">Find Nearby Habitat</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center text-white">
                <h3 class="mb-5 text-white">Animal Info Discovery</h3>
                <p> Select one animal from list and click 'view detail',<br>
                    animal's Habitat as well as detailed descriptions<br>
                    would be shown for you — to learn how to treat them </p>
                <select id="inputBox" class="form-select" data-placeholder="Select an animal">
                    <option></option>
                    <tr th:each="animalDetail: ${commonAnimals}">
                        <option th:text="${animalDetail.vernacularName}"/>
                    </tr>
                </select>
                <div>&nbsp</div>
                <div>
                    <button id="detailButton" class="btn btn-primary btn-lg">View Detail</button>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>


<footer class="py-5 bg-dark">
    <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white"><img src="../image/logo1.jpg" width="45px"
                                                                                   height="45px">Kangaroo Developer</p>
    </div>
</footer>
</body>
<script>
    $(document).ready(function () {
        $('.form-select').select2({
            theme: "bootstrap-5",
        });
        $("#detailButton").click(function () {
            var animalName = $("#inputBox option:selected").text();
            console.log(animalName);
            if (animalName == "") {

            } else {
                herf = "/findAnimalInfo/" + animalName;
                window.location.href = "/findAnimalInfo/" + animalName;
            }
        });
    });
</script>
</html>