<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Animal Detail</title>
    <base th:href="@{/}">
    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <link rel="stylesheet" type="text/css" href="../css/findLocation.css"/>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/homePage.css" rel="stylesheet"/>
</head>
<body>

<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">Animal Helping Hands</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/index">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">Rescue</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/findAnimalDistribution">
                    Feeding</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/findAnimal">Find Nearby
                    Habitat</a></li>
            </ul>
        </div>
    </div>
</nav>

<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5" th:text="${animalInfo.vernacularName} + ' Details'"></h1>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>
<div>&nbsp</div>
<div class="container px-4 px-lg-5">
    <table class="table table-bordered " width="100%">
        <tbody>
        <tr>
            <th width="15%">Name</th>
            <td width="35%" th:text="${animalInfo.vernacularName}"></td>
            <th width="15%">Diet</th>
            <td width="35%" th:text="${animalInfo.diet}"></td>
        </tr>
        <tr>
            <th width="15%">Native Status</th>
            <td width="35%" th:text="${animalInfo.nativeStatus}"></td>
            <th width="15%">Colours</th>
            <td width="35%" th:text="${animalInfo.colours}"></td>
        </tr>
        <tr>
            <th width="15%">Description</th>
            <td colspan="3" th:text="${animalInfo.description}"></td>
        </tr>
        <tr>
            <th width="15%">Biology</th>
            <td colspan="3" th:text="${animalInfo.biology}"></td>
        </tr>
        <tr>
            <th width="15%">Habitat</th>
            <td colspan="3" th:text="${animalInfo.habitatInfo}"></td>
        </tr>

        <tr>
            <th width="15%">Distribution</th>
            <td colspan="3" th:text="${animalInfo.distribution}"></td>
        </tr>
        </tbody>
    </table>
    <div>&nbsp</div>
    <a href="/findAnimalDistribution">
        <button class="btn btn-dark" id="submitButton" type="submit">
            See Distribution
        </button>
    </a>
    <div>&nbsp</div>
</div>

<footer class="py-5 bg-dark">
    <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">TA21 Iteration-1</p>
    </div>
</footer>

</body>
</html>