<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content=""/>
    <meta name="author" content=""/>
    <base th:href="@{/}">
    <title>HomePage</title>

    <!-- Favicon-->
    <link rel="icon" type="image/x-icon" href="../image/favicon.ico"/>
    <!-- Bootstrap icons-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet"
          type="text/css"/>

    <!-- Google fonts-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet"
          type="text/css"/>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link rel="stylesheet" type="text/css" href="../css/homePage.css"/>
</head>
<body>
<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">Land Animal Helping Hands</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link active" aria-current="page" href="/index">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">Rescue</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/findAnimalDistribution">Animal
                    Distribution</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/findAnimal">Find Nearby Habitat</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Land Animal Helping Hands </h1>
                    <p class="lead mb-0">Australia's bushfire killed millions of animals and destroyed land animals' habitats.
                        We must protect and help the surviving animals. We need to be well prepared to be ready to help
                        the affected animal whenever bushfires happen again in the future.
                        The tool helps volunteers and organizations find new homes for animals whose habitats have been destroyed .</p>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Image Showcases-->
<section class="showcase">
    <div class="container-fluid p-0">
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                 style="background-image: url('../image/kaola.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Rescue</h2>
                <p class="lead mb-0">Search for the location of affected animal, rescue the animal by helping transfer
                    the injured animals to nearest shelter.</p>
                <div class="col-auto">
                    <a href="/about">
                        <button class= "btn btn-dark" id="submitButton" type="submit">
                            get more...
                        </button>

                    </a>
                </div>

            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 text-white showcase-img" style="background-image: url('../image/kangaroo.jpg')"></div>
            <div class="col-lg-6 my-auto showcase-text">
                <h2>Feeding</h2>
                <p class="lead mb-0">Provide water and food for the animals suffer from bushfire or donate money to
                    maintain their habitat.</p>
                <div class="col-auto">
                    <a href="/findAnimalDistribution">
                        <button class= "btn btn-dark" id="submitButton" type="submit">
                            get more...
                        </button>

                    </a>
            </div>
        </div>
        <div class="row g-0">
            <div class="col-lg-6 order-lg-2 text-white showcase-img"
                 style="background-image: url('../image/bear.jpg')"></div>
            <div class="col-lg-6 order-lg-1 my-auto showcase-text">
                <h2>Volunteer</h2>
                <p class="lead mb-0">Join in some Animal Protection Orgnizations to ensure sustainable development of
                    animals.</p>
            </div>
        </div>
    </div>
</section>
<footer class="py-5 bg-dark">
    <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">TA21 Iteration-1</p>
    </div>
</footer>
<!-- Bootstrap core JS-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * *-->
<script src="https://cdn.startbootstrap.com/sb-forms-latest.js"></script>
</body>
</html>
