<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html>
<head>
    <base th:href="@{/}">
    <title>Nearby Habitat</title>
    <script src="../js/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../css/style.css"/>
    <link rel="stylesheet" type="text/css" href="../css/homePage.css"/>
</head>
<body>

<!-- Responsive navbar-->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container px-5">
        <a class="navbar-brand" href="#!">Animal Helping Hands</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/index">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/about">Rescue</a></li>
                <li class="nav-item"><a class="nav-link" aria-current="page" href="/findAnimalDistribution">
                    Feeding</a></li>
                <li class="nav-item"><a class="nav-link " aria-current="page" href="/findAnimal">Find Nearby Habitat</a></li>

            </ul>
        </div>
    </div>
</nav>

<!-- Masthead-->
<header class="masthead">
    <div class="container position-relative">
        <div class="row justify-content-center">
            <div class="col-xl-6">
                <div class="text-center text-white">
                    <!-- Page heading-->
                    <h1 class="mb-5">Animal's Habitat nearby</h1>
                </div>
            </div>
        </div>
    </div>
    </div>
</header>

<div id="map" class="text-center container px-4 px-lg-5">
    <!-- Async script executes immediately and must be after any DOM elements used in callback. -->
    <script
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBgJnK-1oUKm4c-2hbVMlxw5UHi0YsX3Ls&callback=initMap&v=weekly"
            async
    ></script>
</div>
<footer class="py-5 bg-dark">
  <div class="container px-4 px-lg-5"><p class="m-0 text-center text-white">TA21 Iteration-1</p>
  </div>
</footer>
</body>
<script th:inline="javascript">
    function initMap() {
        var positionList = [[${positionList}]];
        var latitude = [[${latitude}]];
        var longitude = [[${longitude}]];
        console.log(latitude);
        const VIC_BOUNDS = {
            north: -34.07,
            south: -39.12,
            west: 140.58,
            east: 149.57,
        };
        west: -36.007154;
        // The map, centered at ??
        const map = new google.maps.Map(document.getElementById("map"), {
            restriction: {
                latLngBounds: VIC_BOUNDS,
                strictBounds: false,
            },
            zoom: 11,
            center: {
                lat: parseFloat(latitude),
                lng: parseFloat(longitude)
            },
        });
        var positions = new Array();
        for (var i = 0; i < positionList.length; i++) {
            var position = new google.maps.LatLng(positionList[i].decimallatitude, positionList[i].decimalLongitude);
            positions.push(position);
        }
        const geocoder = new google.maps.Geocoder();
        positions.forEach((position) => {
            console.log(position);
            const marker = new google.maps.Marker({
                position,
                map,
                fontColor: "blue",
                title: "uluru",
                optimized: false,
            });
            geocoder
                .geocode({ location: position })
                .then((response) => {
                    if (response.results[0]) {
                        console.log(response.results[0]);
                        const infoWindow = new google.maps.InfoWindow({content: response.results[0].formatted_address});
                        marker.addListener("click", () => {
                            infoWindow.close();
                            infoWindow.open(marker.getMap(), marker);
                        });
                    }});
        });
    };
</script>
</html>