<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <link href="../css/quiz.css" rel="stylesheet">
    <script defer src="../js/quiz.js"></script>
    <title>land Animal Testing Quiz</title>
</head>
<body class="correct">
<div class="container">
    <diV id="question-container" class="hide">
        <div id="question">Is kangaroo an endanger animal?</div>
        <br><br>
        <div id="answer-buttons" class="btn-grid">
            <button class="btn">A. Yes</button>
            <br><br>
            <button class="btn">B. No</button>
            <br><br>
            <button class="btn">C. Not Sure</button>
            <br><br>
            <button class="btn">D. Above All</button>
            <br><br>
        </div>
    </div>
    <div class="controls">
        <button id="start-btn" class="start-btn btn">Start</button>
        <button id="next-btn" class="next-btn btn hide">Next</button>
    </div>
</div>
<!-- 		<textarea id = "score">you score is 8 out of 12</textarea> -->
</body>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
</html>