<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="ie.ta21.habitat.mapper.AnimalDetailMapper" >
  <resultMap id="BaseResultMap" type="ie.ta21.habitat.entity.AnimalDetail" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="vernacular_name" property="vernacularName" jdbcType="VARCHAR" />
    <result column="brief_description" property="briefDescription" jdbcType="VARCHAR" />
    <result column="description" property="description" jdbcType="VARCHAR" />
    <result column="biology" property="biology" jdbcType="VARCHAR" />
    <result column="habitat_info" property="habitatInfo" jdbcType="VARCHAR" />
    <result column="native_status" property="nativeStatus" jdbcType="VARCHAR" />
    <result column="diet" property="diet" jdbcType="VARCHAR" />
    <result column="colours" property="colours" jdbcType="VARCHAR" />
    <result column="distribution" property="distribution" jdbcType="VARCHAR" />
    <result column="habitat_types" property="habitatTypes" jdbcType="VARCHAR" />
    <result column="commercial_species" property="commercialSpecies" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    id, vernacular_name, brief_description, description, biology, habitat_info, native_status, 
    diet, colours, distribution, habitat_types, commercial_species
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="ie.ta21.habitat.entity.AnimalDetailExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from animal_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from animal_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from animal_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="ie.ta21.habitat.entity.AnimalDetailExample" >
    delete from animal_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="ie.ta21.habitat.entity.AnimalDetail" >
    insert into animal_detail (id, vernacular_name, brief_description, 
      description, biology, habitat_info, 
      native_status, diet, colours, 
      distribution, habitat_types, commercial_species
      )
    values (#{id,jdbcType=INTEGER}, #{vernacularName,jdbcType=VARCHAR}, #{briefDescription,jdbcType=VARCHAR}, 
      #{description,jdbcType=VARCHAR}, #{biology,jdbcType=VARCHAR}, #{habitatInfo,jdbcType=VARCHAR}, 
      #{nativeStatus,jdbcType=VARCHAR}, #{diet,jdbcType=VARCHAR}, #{colours,jdbcType=VARCHAR}, 
      #{distribution,jdbcType=VARCHAR}, #{habitatTypes,jdbcType=VARCHAR}, #{commercialSpecies,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="ie.ta21.habitat.entity.AnimalDetail" >
    insert into animal_detail
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="vernacularName != null" >
        vernacular_name,
      </if>
      <if test="briefDescription != null" >
        brief_description,
      </if>
      <if test="description != null" >
        description,
      </if>
      <if test="biology != null" >
        biology,
      </if>
      <if test="habitatInfo != null" >
        habitat_info,
      </if>
      <if test="nativeStatus != null" >
        native_status,
      </if>
      <if test="diet != null" >
        diet,
      </if>
      <if test="colours != null" >
        colours,
      </if>
      <if test="distribution != null" >
        distribution,
      </if>
      <if test="habitatTypes != null" >
        habitat_types,
      </if>
      <if test="commercialSpecies != null" >
        commercial_species,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="vernacularName != null" >
        #{vernacularName,jdbcType=VARCHAR},
      </if>
      <if test="briefDescription != null" >
        #{briefDescription,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        #{description,jdbcType=VARCHAR},
      </if>
      <if test="biology != null" >
        #{biology,jdbcType=VARCHAR},
      </if>
      <if test="habitatInfo != null" >
        #{habitatInfo,jdbcType=VARCHAR},
      </if>
      <if test="nativeStatus != null" >
        #{nativeStatus,jdbcType=VARCHAR},
      </if>
      <if test="diet != null" >
        #{diet,jdbcType=VARCHAR},
      </if>
      <if test="colours != null" >
        #{colours,jdbcType=VARCHAR},
      </if>
      <if test="distribution != null" >
        #{distribution,jdbcType=VARCHAR},
      </if>
      <if test="habitatTypes != null" >
        #{habitatTypes,jdbcType=VARCHAR},
      </if>
      <if test="commercialSpecies != null" >
        #{commercialSpecies,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="ie.ta21.habitat.entity.AnimalDetailExample" resultType="java.lang.Integer" >
    select count(*) from animal_detail
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update animal_detail
    <set >
      <if test="record.id != null" >
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.vernacularName != null" >
        vernacular_name = #{record.vernacularName,jdbcType=VARCHAR},
      </if>
      <if test="record.briefDescription != null" >
        brief_description = #{record.briefDescription,jdbcType=VARCHAR},
      </if>
      <if test="record.description != null" >
        description = #{record.description,jdbcType=VARCHAR},
      </if>
      <if test="record.biology != null" >
        biology = #{record.biology,jdbcType=VARCHAR},
      </if>
      <if test="record.habitatInfo != null" >
        habitat_info = #{record.habitatInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.nativeStatus != null" >
        native_status = #{record.nativeStatus,jdbcType=VARCHAR},
      </if>
      <if test="record.diet != null" >
        diet = #{record.diet,jdbcType=VARCHAR},
      </if>
      <if test="record.colours != null" >
        colours = #{record.colours,jdbcType=VARCHAR},
      </if>
      <if test="record.distribution != null" >
        distribution = #{record.distribution,jdbcType=VARCHAR},
      </if>
      <if test="record.habitatTypes != null" >
        habitat_types = #{record.habitatTypes,jdbcType=VARCHAR},
      </if>
      <if test="record.commercialSpecies != null" >
        commercial_species = #{record.commercialSpecies,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update animal_detail
    set id = #{record.id,jdbcType=INTEGER},
      vernacular_name = #{record.vernacularName,jdbcType=VARCHAR},
      brief_description = #{record.briefDescription,jdbcType=VARCHAR},
      description = #{record.description,jdbcType=VARCHAR},
      biology = #{record.biology,jdbcType=VARCHAR},
      habitat_info = #{record.habitatInfo,jdbcType=VARCHAR},
      native_status = #{record.nativeStatus,jdbcType=VARCHAR},
      diet = #{record.diet,jdbcType=VARCHAR},
      colours = #{record.colours,jdbcType=VARCHAR},
      distribution = #{record.distribution,jdbcType=VARCHAR},
      habitat_types = #{record.habitatTypes,jdbcType=VARCHAR},
      commercial_species = #{record.commercialSpecies,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="ie.ta21.habitat.entity.AnimalDetail" >
    update animal_detail
    <set >
      <if test="vernacularName != null" >
        vernacular_name = #{vernacularName,jdbcType=VARCHAR},
      </if>
      <if test="briefDescription != null" >
        brief_description = #{briefDescription,jdbcType=VARCHAR},
      </if>
      <if test="description != null" >
        description = #{description,jdbcType=VARCHAR},
      </if>
      <if test="biology != null" >
        biology = #{biology,jdbcType=VARCHAR},
      </if>
      <if test="habitatInfo != null" >
        habitat_info = #{habitatInfo,jdbcType=VARCHAR},
      </if>
      <if test="nativeStatus != null" >
        native_status = #{nativeStatus,jdbcType=VARCHAR},
      </if>
      <if test="diet != null" >
        diet = #{diet,jdbcType=VARCHAR},
      </if>
      <if test="colours != null" >
        colours = #{colours,jdbcType=VARCHAR},
      </if>
      <if test="distribution != null" >
        distribution = #{distribution,jdbcType=VARCHAR},
      </if>
      <if test="habitatTypes != null" >
        habitat_types = #{habitatTypes,jdbcType=VARCHAR},
      </if>
      <if test="commercialSpecies != null" >
        commercial_species = #{commercialSpecies,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="ie.ta21.habitat.entity.AnimalDetail" >
    update animal_detail
    set vernacular_name = #{vernacularName,jdbcType=VARCHAR},
      brief_description = #{briefDescription,jdbcType=VARCHAR},
      description = #{description,jdbcType=VARCHAR},
      biology = #{biology,jdbcType=VARCHAR},
      habitat_info = #{habitatInfo,jdbcType=VARCHAR},
      native_status = #{nativeStatus,jdbcType=VARCHAR},
      diet = #{diet,jdbcType=VARCHAR},
      colours = #{colours,jdbcType=VARCHAR},
      distribution = #{distribution,jdbcType=VARCHAR},
      habitat_types = #{habitatTypes,jdbcType=VARCHAR},
      commercial_species = #{commercialSpecies,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>